<div class="space-header"></div>
<div class="container">
    <section id="infoMessage" class="it-hero-wrapper it-primary it-overlay it-text-centered">
        <!-- - img-->
        <div class="img-responsive-wrapper">
            <div class="img-responsive">
                <div class="img-wrapper"><img
                        src="\assets\svg\lucchetto.svg"
                        title="titolo immagine" alt="descrizione immagine"></div>
            </div>
        </div>
        <!-- - texts--> 
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="it-hero-text-wrapper bg-dark">
                        <span class="it-Categoria">Info</span>
                        <h2>Accesso negato, il tentativo di accedere alla pagina è stato rifiutato.</h2>
                        <p class="d-none d-lg-block">{{motivazione}}</p>
                            <div class="btn-accesso-negato">
                                <button type="button" routerLink="/home" class="btn btn-outline-primary first-button-accesso-negato">Torna alla home</button>
                                <button type="button" class="btn btn-outline-primary">Nuovo accesso</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="space-footer"></div>