.nav-richieste {
    font-size: 13px;
    width: 32%;
}

.space-btn-richiesta {
    margin-left: 1rem;
}

.container-btn-richiesta {
    padding-left: 0px;
}

.p-4 {
    padding-bottom: 4px !important;
}

.btn-primary-mediazione {
    background-color: #216FA3!important;
}
.data_input {
	width: 101%  !important;
    border: 1px solid #216FA3  !important;
    border-radius: 4px !important;
}

.form-two-input {
    width: 49% !important;
}

.form-three-input {
    width: 33% !important;
}

.form-radio-intesta {
    width: 12% !important;
    padding-top: 3px;
    width: 12% !important;
}

.a-icon-table {
    width: 32px !important;
    height: 32px !important;
}