.logo-header {
  margin-right: 7px !important;
}
.color-text{
  color:black !important;
}

.color-text-header{
  color: #216FA3 !important;
}

.logout-link {
  cursor: pointer;
}

.log-in-image{
  margin-top: 5px !important;
  margin-left: 1px !important;
  height: 21px !important;
  width: 40px !important;
}