<app-scheda-anagrafica-rappresentanti></app-scheda-anagrafica-rappresentanti>
<app-scheda-anagrafica-rappresentante-riepilogo></app-scheda-anagrafica-rappresentante-riepilogo>
<app-confirm-message (eventConfirmMessage)="getModalChildrenConfirm($event)"></app-confirm-message>

<div class="container mb-1 mt-1 pt-1">
    <div class="row ">
        <div class="col-12" role="region" aria-label="Spese di mediazione">
            <h1 class="h6 fw-semibold color text-center">ELENCO RICHIESTE DI REGISTRAZIONE UTENTI
            </h1>
            <hr />
        </div>
    </div>
</div>
<div class="container text-center body">
    <table class="table table-hover" style="border: 1px solid #E0E0E0;">
        <thead class="thead-voto-estero">
            <tr>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Cognome </th>
                <th scope="col" class="text-center">Codice Fiscale</th>
                <th scope="col" class="text-center">Ragione Sociale</th>
                <th scope="col" class="text-center">Partita iva</th>
                <th scope="col" class="text-center">Indirizzo PEC</th>
                <th scope="col" class="text-center">Ruolo</th>
                <th scope="col" class="text-center">Richiesta Iscrizione</th>
                <th scope="col" class="text-center">Data Richiesta</th>
                <th scope="col" class="text-center actions">Approva/Rifiuta</th>
            </tr>
        </thead>
        <tbody class="tbody-empty-table">
            <td *ngIf="tableResult.length == 0; else elseBlock" colspan="16">
                <p class="text-empty-table">Nessun risultato trovato</p>
            </td>
            <ng-template #elseBlock>
                <ng-container *ngFor="let item of tableResult; let i = index">
                    <tr>
                <td class="text-center">{{item.nome}}</td>
                <td class="text-center">{{item.cognome}}</td>
                <td class="text-center">{{item.codiceFiscale}}</td>
                <td class="text-center">{{item.ragioneSociale}}</td>
                <td class="text-center">{{item.pIva}}</td>
                <td class="text-center">{{item.pec}}</td>
                <td class="text-center">{{item.ruolo }}</td>
                <td class="text-center">{{item.richiestaIscrizione}}</td>
                <td class="text-center">{{item.dataRichiesta ? formatDateComplete(item.dataRichiesta) : '' }}</td>
                <td class="text-center">
                    <a [ngClass]="{'a-icon-table': true}"
                    (click)="openModalConfirmMessage(item.id, 'approva')" data-toggle="tooltip" title="Approva">
                    <svg class="bg-light icon align-middle svg-icon-table-td">
                      <use href="\assets\svg\sprites.svg#it-check-circle" fill="#198754"></use>
                    </svg>
                  </a>
                  <a [ngClass]="{'a-icon-table': true}"
                  (click)="openModalConfirmMessage(item.id, 'rifiuta')" data-toggle="tooltip" title="Rifiuta">
              <svg class="bg-light icon align-middle svg-icon-table-td" >
                <use href="\assets\svg\sprites.svg#it-close-circle" fill="#DC3545"></use> 
              </svg>
            </a>
                </td>
            </tr>
           </ng-container>
           </ng-template>
        </tbody>
    </table>
    <div *ngIf="this.totalResult === 0">
    <nav class="pagination-wrapper justify-content-center color-pagination" aria-label="Navigazione centrata">
        <td class="text-center"> Totale: {{ this.totalResult }}</td>
    </nav>
    </div>
    <nav class="pagination-wrapper justify-content-center color-pagination" aria-label="Navigazione centrata">
        <ul *ngIf="totalPage != 0" class="pagination mt-2">
            <li *ngIf="indexPage == 1; else elsePageBefore" class="page-item disabled">
                <a (click)="previousPage(indexPage)" class="page-link" style="color: #415559">Precedente
                    <span class="visually-hidden">Pagina precedente disabilitata</span>
                </a>
            </li>
            <ng-template #elsePageBefore>
                <li class="page-item">
                    <a (click)="previousPage(indexPage)" class="page-link" style="color: #415559">Precedente
                        <span class="visually-hidden">Pagina precedente</span>
                    </a>
                </li>
            </ng-template>
            <ng-container>
                <li *ngIf="(indexPage > 1)" class="page-item"><a (click)="cambiaPagina(indexPage - 1)"
                        class="page-link">{{indexPage - 1}}</a></li>
                <li class="page-item active" style="color:#0F3E75">
                    <a class="page-link" (click)="cambiaPagina(indexPage)" aria-current="page">
                        <span class="d-inline-block d-sm-none">Pagina </span>{{indexPage}}
                    </a>
                </li>
                <li *ngIf="(indexPage + 1 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 1)"
                        class="page-link">{{indexPage + 1}}</a></li>
                <li *ngIf="(indexPage + 2 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 2)"
                        class="page-link">{{indexPage + 2}}</a></li>
                <li *ngIf="(indexPage + 3 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 3)"
                        class="page-link">{{indexPage + 3}}</a></li>
            </ng-container>
            <li *ngIf="totalPage > 1 else elsePageNext" class="page-item">
                <a (click)="nextPage(indexPage)" class="page-link" style="color: #216FA3">Successiva
                    <span class="visually-hidden">Pagina successiva</span>
                </a>
            </li>
            <ng-template #elsePageNext>
                <li class="page-item disabled">
                    <a (click)="nextPage(indexPage)" class="page-link" style="color: #216FA3">Successiva
                        <span class="visually-hidden">Pagina successiva disabilitata</span>
                    </a>
                </li>
            </ng-template>
        </ul>
        <!--<p style="color:#2F475E">Stai visualizzando {{totalPage}} di {{totalResult}} elementi </p>--><!--testo a sinistra-->
    </nav>
    <app-extra-info></app-extra-info>

</div>