<footer class="it-footer mt-5">
  <div class="it-footer-main color-footer">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <div class="it-brand-text">
                <a class="d-none d-lg-block navbar-brand color-text"><img class="logo-header-footer"
                    src="assets/image-mediazione-civile/logo-repubblica.png" alt="logo Repubblica"> Ministero della Giustizia</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col">
            <h1 class="h4"><a href="#" title="Vai alla pagina: Contatti" >DOVE SIAMO</a></h1>
            <p class="line-height">
              <strong>Via Arenula, 70</strong><br>
              00186 Roma
            </p>
          </div>
          <div class="col">
            <h1 class="h4"><a href="#" title="Contatti: ">CONTATTI</a></h1>
            <p class="line-height">
              <strong>Centralino: +39 06 68851</strong><br>
              Call center: 848 800 110 
            </p>
          </div>
          <div class="col">
            <div class="pb-2">
              <h1 class="h4"><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h1>
              <ul class="list-inline text-left social">
                <li class="list-inline-item" title="Vai alla pagina: Facebook del Ministero della Giustizia">
                  <a class="p-2 text-white" href="https://it-it.facebook.com/ministerodellagiustizia/" target="_blank">
                    <svg class="icon icon-sm icon-white align-top" alt="facebook">
                      <use xlink:href="assets/svg/sprites.svg#it-facebook"></use>
                    </svg><span class="visually-hidden">Facebook</span></a>
                </li>
                <li class="list-inline-item" title="Vai alla pagina: Instagram del Ministero della Giustizia">
                  <a class="p-2 text-white" href="https://www.instagram.com/ministerodellagiustizia/" target="_blank">
                    <svg class="icon icon-sm icon-white align-top" alt="instagram">
                      <use xlink:href="assets/svg/sprites.svg#it-instagram"></use>
                    </svg><span class="visually-hidden">Instagram</span>
                  </a>
                </li>
                <li class="list-inline-item" title="Vai alla pagina: X del Ministero della Giustizia">
                  <a class="p-2 text-white" href="https://www.twitter.com/minGiustizia/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                    </svg><span class="visually-hidden">Twitter</span>

                  </a>
                </li>
                <li class="list-inline-item" title="Vai alla pagina: Youtube del Ministero della Giustizia">
                  <a class="p-2 text-white" href="https://www.youtube.com/channel/UCwYwWxp3G2Wk1nbYI3UZBYg" target="_blank">
                    <svg class="icon icon-sm icon-white align-top" alt="youtube">
                      <use xlink:href="assets/svg/sprites.svg#it-youtube"></use>
                    </svg><span class="visually-hidden">Youtube</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix color-footer-list">
    <div class="container">
      <!-- <h3 class="visually-hidden">Sezione Link Utili</h3> -->
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="https://www.giustizia.it/giustizia/it/mg_14_6.page" title="Vai alla pagina: Note Legali">Note legali</a></li>
        <li class="list-inline-item"><a href="https://www.giustizia.it/giustizia/page/it/privacy" title="Vai alla pagina: Privacy">Privacy</a></li>
    <!-- <li class="list-inline-item"><a href="https://www.giustizia.it/giustizia/it/mg_14_4.page" title="Vai alla pagina: Accessibilità">Accessibilità</a></li> -->
    <!--    <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a></li> -->
    <!--     <li class="list-inline-item"><a href="#" title="Mappa del sito">Redazione</a></li> -->
      </ul>
    </div>
  </div>
</footer>