<!--<div class="container container-principal-voto-estero text-left">-->
<div class="container text-left body">
	<section id="Bottoni" class="mt-0 ml-2 mr-2 mb-1">
		<div class="cmp-breadcrumbs " role="navigation"
			style="margin-top: 1em; margin-bottom: 1rem; margin-left: 28px;">
			<div class="d-flex justify-content-between bd-highlight mt-3">

				<div class="p-2 bd-highlight mt-2">
					<nav class="breadcrumb-container" aria-label="breadcrumb">
						<ol class="breadcrumb p-0" data-element="breadcrumb">
							<li class="breadcrumb-item"><a data-focus-mouse="false">Elenco Mediatori
									e Mediatori esperti formatori in Giustizia Riparativa</a></li>
						</ol>
					</nav>
				</div>
				<div class="p-2 bd-highlight mt-2">
					<nav class="breadcrumb-container" aria-label="breadcrumb">
						<ol class="breadcrumb p-0" data-element="breadcrumb">
							<li class="breadcrumb-item"><a
									href="https://www.giustizia.it/giustizia/page/it/elenco_mediatori_giustizia_riparativa">D.M.
									9 giugno 2023</a></li>
						</ol>
					</nav>
					<div class="row">
						<div class="col-lg-8 px-lg-4 py-lg-2">
							<div class="clearfix" style="font-size: 20px !important;">
								<div class="normativa">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between bd-highlight mt-3">
			<div class="p-2 bd-highlight">
				<div class="col">
				</div>
			</div>
			<div class="p-2 bd-highlight">
				<div class="row ">
					<div class="col image text-end mt-2">
					</div>
					<div class="col">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
											height="16" class="bi bi-search" viewBox="0 0 16 16" aria-label="Ricerca"
											fill="#415559">
											<path
												d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
											</path>
										</svg></div>
								</div>
								<label class="visually-hidden" for="input-group-3">Testo da cercare</label>
								<input type="search" [(ngModel)]="searchTextTable" (ngModelChange)="attivaRicerca()" type="text"
									class="form-control" id="Ricerca" placeholder="Testo da cercare">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--<div class="modal fade body" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title " id="exampleModalLabel">Carica file CSV</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label><input type="file" id="input-file-csv" accept=".csv" (change)="inputFileCSV($event)">
						<p class="">Il file deve essere in formato CSV.</p>
					</label>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
					<button type="button" class="btn btn-primary" id="pulsante-caricamento-csv">Carica</button>
				</div>
			</div>
		</div>
	</div>-->

	<div class=" text-left body">
		<table class="table table-hover" style="border: 1px solid #E0E0E0;">
			<thead class="thead-voto-estero">
				<tr>
					<th scope="col">Cognome</th>
					<th scope="col">Nome</th>
					<th scope="col" class="text-center">Data di nascita</th>
					<th scope="col" class="text-center">Codice Fiscale</th>
					<th scope="col" class="text-center">Numero Iscrizione</th>
					<th scope="col" class="text-center">Data Iscrizione</th>
					<th scope="col" class="text-center">Qualifica Formatore</th>
				</tr>
			</thead>
			<tbody class="tbody-empty-table">
				<td *ngIf="tableResult.length == 0; else elseBlock" colspan="16">
					<p class="text-empty-table">Nessun risultato trovato</p>
				</td>
				<ng-template #elseBlock>
					<ng-container *ngFor="let item of tableResult; let i = index">
						<tr>
							<td>{{item.cognomeMediatore}}</td>
							<td>{{item.nomeMediatore}}</td>
							<td class="text-center">{{item.dataDiNascita | date: 'dd/MM/yyyy'}}</td>
							<td class="text-center">{{item.codiceFiscale}}</td>
							<td class="text-center">{{item.numeroIscrizioneElenco}}</td>
							<td class="text-center">{{item.dataIscrizioneElenco | date: 'dd/MM/yyyy'}}</td>
							<td class="text-center">{{item.isFormatore == 1?'SI':'NO'}}</td>
						</tr>
					</ng-container>
				</ng-template>
			</tbody>
		</table>
		<nav class="pagination-wrapper justify-content-center color-pagination" aria-label="Navigazione centrata">
			<ul *ngIf="totalPage != 0" class="pagination mt-2">
				<li *ngIf="indexPage == 1; else elsePageBefore" class="page-item disabled">
					<a (click)="previousPage(indexPage)" class="page-link" style="color: #415559">Precedente
						<span class="visually-hidden">Pagina precedente disabilitata</span>
					</a>
				</li>
				<ng-template #elsePageBefore>
					<li class="page-item">
						<a (click)="previousPage(indexPage)" class="page-link" style="color: #415559">Precedente
							<span class="visually-hidden">Pagina precedente</span>
						</a>
					</li>
				</ng-template>
				<ng-container>
					<li *ngIf="(indexPage > 1)" class="page-item"><a (click)="cambiaPagina(indexPage - 1)"
							class="page-link">{{indexPage - 1}}</a></li>
					<li class="page-item active" style="color:#0F3E75">
						<a class="page-link" (click)="cambiaPagina(indexPage)" aria-current="page">
							<span class="d-inline-block d-sm-none">Pagina </span>{{indexPage}}
						</a>
					</li>
					<li *ngIf="(indexPage + 1 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 1)"
							class="page-link">{{indexPage + 1}}</a></li>
					<li *ngIf="(indexPage + 2 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 2)"
							class="page-link">{{indexPage + 2}}</a></li>
					<li *ngIf="(indexPage + 3 <= totalPage)" class="page-item"><a (click)="cambiaPagina(indexPage + 3)"
							class="page-link">{{indexPage + 3}}</a></li>
				</ng-container>
				<li *ngIf="totalPage > 1 else elsePageNext" class="page-item">
					<a (click)="nextPage(indexPage)" class="page-link" style="color: #216FA3">Successiva
						<span class="visually-hidden">Pagina successiva</span>
					</a>
				</li>
				<ng-template #elsePageNext>
					<li class="page-item disabled">
						<a (click)="nextPage(indexPage)" class="page-link" style="color: #216FA3">Successiva
							<span class="visually-hidden">Pagina successiva disabilitata</span>
						</a>
					</li>
				</ng-template>
			</ul>
			<!--<p style="color:#2F475E">Stai visualizzando {{totalPage}} di {{totalResult}} elementi </p>--><!--testo a sinistra-->
		</nav>
	</div>
</div>
