stages: 
  - build
  - deploy

build-job:       
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "sviluppo"'
  script:
    - export PATH="$PATH:/root/.nvm/versions/node/v16.10.0/bin"
    - npm install
    - npm run build --base-href=""

deploy-job:     
  stage: deploy  
  variables:
    GIT_STRATEGY: none
  rules:
    - if: '$CI_COMMIT_REF_NAME == "sviluppo"'
  script:
    - rm -rf /home/ubuntu/root/backup/giustizia-riparativa-fe && cp -r /home/ubuntu/root/latest/giustizia-riparativa-fe /home/ubuntu/root/backup/giustizia-riparativa-fe
    - cp -r dist/giustizia_riparativa/* /home/ubuntu/root/latest/giustizia-riparativa-fe/
