<!-- Button trigger modal -->

<button type="button" hidden id="activeModalUpdateSocieta" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalUpdateSocieta"></button>

<div class="modal fade bd-example-modal-xl" id="modalUpdateSocieta" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-insert-voto-estero ">
    <div class=" modal-content ">
      <div class="modal-header">
        <h4 class="modal-title">{{titolo}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi finestra modale"></button>
      </div>
      <div class="modal-body modal-body-update">
          <div class="row margin-row-top">
            <div class="col select-wrapper">
                <label for="ragioneSociale" [ngClass]="{'active': !!ragioneSociale}">
                  Denominazione Sociale:*</label>
                <input type="text" [(ngModel)]="ragioneSociale" class="data_input" id="ragioneSociale" />
            </div>
            <div class="col select-wrapper">
                <label for="partitaIva" [ngClass]="{'active': !!partitaIva}"> 
                  P.IVA:*</label>
                <input type="text" [(ngModel)]="partitaIva" data-bs-input class="data_input" id="partitaIva" />
            </div>
            <div class="col select-wrapper">
                <label for="codiceFiscaleSocieta" [ngClass]="{'active': !!codiceFiscaleSocieta}">
                  Codice Fiscale Società:*</label>
                <input type="text" [(ngModel)]="codiceFiscaleSocieta" data-bs-input class="data_input" id="codiceFiscaleSocieta"/>
            </div>
          </div>
      </div>
        <div class="modal-footer">
            <button class="btn float-end btn-menu-page-body btn-outline-primary-min" type="button" data-bs-dismiss="modal">Annulla</button>
            <button class="btn btn-primary-min float-end btn-menu-page-body" (click)="sendSocieta()"  type="button">Salva</button>
            <button id="closeModal" hidden type="button" data-bs-dismiss="modal">Close modal</button>
        </div>
    </div>
  </div>
</div>


