.index-table-regioni{
    font-size: 20px;
    line-height: 1.5;
}

.name-table-regioni{
    font-size: 22px;
    line-height: 1.5;
}

.icon-column-regioni{
    text-align: end;
}

.select-province {
    width: 33%;
    margin-left: 1rem;
}

.container-check-province{
    margin-top: 4px ;
    margin-bottom: 32px;

}

.collout-width{
    max-width: 120ch !important;
}

.btn-primary-mediazione {
    background-color: #216FA3 !important;
    padding: 5px 24px !important; 
}

.btn-mediazione{
    background-color: #024470 !important;
}

.btn-mediazione-salva{
background-color: #216FA3 !important;
}

.color{
    color: #004d99 !important;;
  }

  .alert-bording {
    border-left: 8px solid #0064DF !important;
    border: 0px ;
}

.color-alert{
background-color: #E5F1FF !important;
}

.alert-info {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230064DF' d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 19a9 9 0 1 1 9-9 9 9 0 0 1-9 9zm-.7-15h1.5v2h-1.5zm0 3h1.5v9h-1.5z'%3E%3C/path%3E%3C/svg%3E");
  }