    <div class="container text-left body">
    <!-- PRIMA RIGA -->
    <div class="row mt-5">
        <div class="col">
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">REGISTRO ORGANISMI DI MEDIAZIONE</h3>
                        <p class="card-text font-serif">
                            Visita il registro degli organismi di mediazione
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/registroOdm">
                                Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <!-- <div class="col ">        
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">REGISTRO ORGANISMI DI ADR</h3>
                        <p class="card-text font-serif">
                            Visita il registro degli organismi di mediazione ADR
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" href="#">
                                Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="col">     
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">ELENCO ENTI DI FORMAZIONE</h3>
                        <p class="card-text font-serif">
                            Consulta l'elenco degli enti di formazione
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/alboEntiFormazione">
                                Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>     
        </div> -->
        <!-- SPOSTATO SOLO PER PRIMO COLLAUDO -->
            <div class="col">     
                <div class="card-wrapper">
                    <div class="card card-bg">
                        <div class="card-body">
                            <h3 class="card-title h5 ">ELENCO DEI MEDIATORI</h3>
                            <p class="card-text font-serif">
                                Consulta l'elenco dei mediatori
                            </p>
                            <div class="it-card-footer">
                                <a class="btn btn-outline-primary btn-sm" routerLink="/alboMediatori">Vai alla Pagina <span class="visually-hidden"></span></a>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
    </div>
    <!-- SECONDA RIGA -->
    <div class="row mt-5">
        <!-- <div class="col">     
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">ELENCO DEI MEDIATORI</h3>
                        <p class="card-text font-serif">
                            Consulta l'elenco dei mediatori
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/alboMediatori">Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>      
        </div> -->
        <!-- <div class="col    ">   
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">ELENCO DEI FORMATORI</h3>
                        <p class="card-text font-serif">
                            Consulta l'elenco dei formatori
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/alboFormatori">Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col">    
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">ELENCO DEI MEDIATORI ADR</h3>
                        <p class="card-text font-serif">
                            Consulta l'elenco dei mediatori ADR
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" href="#">Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>        
        </div> -->
    </div>
    <!-- TERZA RIGA (?) -->
    <div class="row mt-5">
        <!-- <div class="col">        
            <div class="card-wrapper">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="card-title h5 ">ELENCO DEI RESPONSABILI SCIENTIFICI</h3>
                        <p class="card-text font-serif">
                            Consulta l'elenco dei responsabili scientifici
                        </p>
                        <div class="it-card-footer">
                            <a class="btn btn-outline-primary btn-sm" href="#">Vai alla Pagina <span class="visually-hidden"></span></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div> -->
        <div class="col">
            
            
        </div>
        <div class="col">
            

            
        </div>
    </div>
</div>
