<div class="container mb-1 mt-1 pt-1">
    <div class="row ">
        <div class="col-12" role="region" aria-label="atto riepilogativo">
            <h1 class="h6 fw-semibold color">POLIZZA ASSICURATIVA</h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-3">
        <p class="text-justify">Stipula di una polizza assicurativa di importo non inferiore a
            € 1.000.000,00 per la responsabilità a
            qualunque titolo derivante dallo svolgimento dell'attività di mediazione,
            di validità almeno annuale <span class="form-text riferimento-nomrmativa">(art. 6, co. 1,
                lett. c);</span></p>
    </div>
    <div class="accordion">
        <div class="row margin-top-row">
            <div class="col select-wrapper">
                <label for="compagniaAssicuratrice" [ngClass]="{'active': !!compagniaAssicuratrice}">
                    Compagnia assicuratrice*
                </label>
                <input class="data_input" [disabled]="isModifica === false" [(ngModel)]="compagniaAssicuratrice"
                    (blur)="checkCompagniaAssicurativa()" type="text" id="compagniaAssicuratrice"
                    name="compagniaAssicuratrice" data-focus-mouse="false" aria-invalid="false">
                <small id="infoValiditaCompagnia" *ngIf="checkValidCompagniaAssicuratrice === false"
                    class="form-text small-info-check">
                    (Il campo non può essere vuoto)
                </small>
            </div>
            <div class="col select-wrapper">
                <label for="massimaleAssicurato" [ngClass]="{'active': !!massimaleAssicurato}">
                    Massimale assicurato*
                </label>
                <input type="text" [disabled]="isModifica === false" [(ngModel)]="massimaleAssicurato"
                    (blur)="checkMassimaleAss()" class="data_input" id="massimaleAssicurato" />
                <small id="infoCompMassimaleAssicurato" *ngIf="checkValidMassimale === false"
                    class="form-text small-info-check">
                    (Indicare un importo non inferiore a € 1.000.000,00)
                </small>
                <br>
                <small id="infoCompMassimaleAssicurato2" class="form-text indicazione-compilazione">I punti saranno
                    accettati come separatore delle cifre nel numero e
                    le virgole saranno accettate come separatore dei decimali</small>
                <br>
            </div>
        </div>

        <div class="row margin-row-top">
            <div class="col select-wrapper">
                <label for="dataStipulaPoliz" [ngClass]="{'active': !!dataStipulaPoliz}">
                    Data stipula*
                </label>
                <input class="data_input" [disabled]="isModifica === false" [(ngModel)]="dataStipulaPoliz"
                    type="date" id="dataStipulaPoliz" name="dataPolizza"
                    data-focus-mouse="false" aria-invalid="false">
            </div>
            <div class="col select-wrapper">
                <label for="dataPolizzaDa" [ngClass]="{'active': !!scadenzaPoliza}">
                    Data scadenza*
                </label>
                <input class="data_input" [disabled]="isModifica === false" [(ngModel)]="scadenzaPoliza"
                    type="date" id="dataPolizzaDa" name="dataPolizzaDa"
                    data-focus-mouse="false" aria-invalid="false">
                    <small id="infoValiditaPolizza" *ngIf="checkValidDate === false" class="form-text small-info-check">
                        (La validità della polizza deve essere di almeno un anno e/o la data scadenza non può essere inferiore alla data attuale)
                    </small>
            </div>
        </div>
        <div class="row margin-row-top">
            <div class="form-check div-checkbox-mediazione">
                <input id="checkboxDomicilio" type="checkbox" [(ngModel)]="checkPrVisioneRinP" [disabled]="isModifica === false">
                <label for="checkboxDomicilio" class="fw-semibold">Si impegna a documentare il rinnovo della polizza assicurativa alla scadenza (art. 6, co. 1, lett. c).</label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group form-two-input">
                <label for="artOggetPolizza" [ngClass]="{'active': !!artOggetPolizza}">
                    Indicare l'articolo del contratto di assicurazione in cui è indicato l'oggetto:
                </label>
                <input class="data_input" [(ngModel)]="artOggetPolizza"  type="text" id="artOggetPolizza"
                    name="artOggetPolizza" data-focus-mouse="false" aria-invalid="false">
            </div>
        </div> -->

        <div class="p-2 clearfix mt-5">
            <button type="button" (click)="activeModifica()" *ngIf="isModifica === false"
            class="btn float-end btn-menu-page-body btn-secondary-min">Modifica
            </button>
            <button type="button" (click)="sendDichiarazionePolizzaAssicurativa()" 
            class="btn btn-primary-min float-end btn-menu-page-body">Salva
        </button>
        <button type="button" (click)="convalidazione()" class="btn btn-primary-min float-end btn-menu-page-body" 
        [ngClass]="{'btn btn-primary-min float-end btn-menu-page-body': true}">Convalida
    </button>
            <button type="button" (click)="openPdfFile()" 
                    [ngClass]="{'btn btn-primary-min float-end btn-outline-primary-min': true}"
                    >Anteprima di Stampa
            </button>
        </div>

    </div>
</div>