<button hidden id="showMessage" data-bs-toggle="notification" [attr.data-bs-target]="notification" type="button" class="btn btn-primary focus--mouse" data-focus-mouse="true">SHOW MESSAGE</button>

<div class="notification dismissable with-icon success fade" *ngIf="typeMessage == 'success'" role="region" aria-label="Messaggio di successo" id="notication-success">
    <h1 id="not6-title" class="h5">
      <svg class="icon" alt="info">
        <use href="\assets\svg\sprites.svg#it-check-circle" xlink:href="\assets\svg\sprites.svg#it-check-circle"></use></svg>Notifica Successo
    </h1>
    <p class="line-height" [innerHTML]="descriptionMessage"></p>
    <button type="button" class="btn notification-close" data-bs-dismiss="notification" (click)="closeMessage()">
      <svg class="icon" alt="chiudi notifica">
        <use xlink="\assets\svg\sprites.svg#it-close" xlink:href="\assets\svg\sprites.svg#it-close"></use>
      </svg>
      <span class="visually-hidden">Chiudi notifica: Titolo notification</span>
    </button>
</div>

<div class="notification dismissable with-icon error fade" *ngIf="typeMessage == 'error'" role="region" aria-label="Messaggio di errore" id="notication-error"  >
    <h1 id="not6-title" class="h5">
      <svg class="icon" alt="notifica errore">
        <use href="\assets\svg\sprites.svg#it-close-circle" xlink:href="\assets\svg\sprites.svg#it-check-circle"></use></svg>Notifica Errore
    </h1>
    <p class="line-height" [innerHTML]="descriptionMessage"></p>
    <button type="button" class="btn notification-close" data-bs-dismiss="notification" (click)="closeMessage()">
      <svg class="icon" alt="chiudi notifica">
        <use xlink="\assets\svg\sprites.svg#it-close" xlink:href="\assets\svg\sprites.svg#it-close"></use>
      </svg>
      <span class="visually-hidden">Chiudi notifica: Titolo notification</span>
    </button>
</div>

<div class="notification dismissable left-fix with-icon info fade" *ngIf="typeMessage == 'attention'" role="alert" id="notication-attention" aria-labelledby="not9-title" style="display: block;" aria-label="Messaggio di avviso">
  <h1 id="not9-title" class="h5">
    <svg class="icon" >
      <use href="\assets\svg\sprites.svg#it-info-circle" xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-info-circle"></use></svg>Dismissable Left Fix
  </h1>
  <p class="line-height" [innerHTML]="descriptionMessage"></p>
  <button type="button" class="btn notification-close" data-bs-dismiss="notification" (click)="closeMessage()">
    <svg class="icon">
      <use href="\assets\svg\sprites.svg#it-close" xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-close"></use>
    </svg>
    <span class="visually-hidden">Chiudi notifica: Dismissable Left Fix</span>
  </button>
</div>

<div class="notification dismissable with-icon warning fade" *ngIf="typeMessage == 'success-attention'" role="region"
     aria-label="Messaggio di successo ma con info" id="notication-success-attention">
  <h1 id="not6-title" class="h5">
    <svg class="icon" alt="info">
      <use href="\assets\svg\sprites.svg#it-error" xlink:href="\assets\svg\sprites.svg#it-error"></use></svg>Notifica Successo Parziale
  </h1>
  <p class="line-height" [innerHTML]="descriptionMessage"></p>
  <button type="button" class="btn notification-close" data-bs-dismiss="notification" (click)="closeMessage()">
    <svg class="icon" alt="chiudi notifica">
      <use xlink="\assets\svg\sprites.svg#it-close" xlink:href="\assets\svg\sprites.svg#it-close"></use>
    </svg>
    <span class="visually-hidden">Chiudi notifica: Titolo notification</span>
  </button>
</div>