<!-- Button trigger modal -->
<button type="button" hidden id="activeModalSchedaPrestatoreServizio" class="btn btn-primary " data-bs-toggle="modal"
    data-bs-target="#modalSchedaPrestatoreServizio"></button>

<div class="modal fade bd-example-modal-xl" id="modalSchedaPrestatoreServizio" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-insert-voto-estero">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <h4 class="modal-title">CONVALIDA/ANNULLA PRESTATORE DI SERVIZIO</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Chiudi finestra modale"></button>
            </div>

            <div class="modal-body modal-body-update">
                <div class="container" style="padding-top: 5%;">
                    <div class="row">
                        <div class="col select-wrapper">
                            <label for="titoloSS" [ngClass]="{'color-invalid': validTitolo === false}">Titolo*</label>
                            <select [disabled]="true" type="text" [(ngModel)]="idTitolo" (change)="checkTitolo()"
                                 id="titoloSS" class="data_input" [ngClass]="{'input-invalid': validTitolo === false}">
                                <option [value]=""></option>
                                <option *ngFor="let titolo of titoliAnagrafiche" [value]="titolo.idTitoloAnagrafiche">
                                    {{ titolo.descrizione }}
                                </option>
                            </select>
                        </div>
                        <div class="col ">
                                <p class="fw-semibold" [ngClass]="{'color-invalid': validSesso === false}">Sesso*</p>
                            <div class="form-check">
                                <input name="radio7" [(ngModel)]="sesso" [value]="'M'" 
                                [disabled]="true" type="radio" class="with-gap"
                                    id="radio7">
                                <label for="radio7">Maschio</label>
                                <input name="radio8" [(ngModel)]="sesso" [value]="'F'" 
                                [disabled]="true" type="radio" class="with-gap"
                                    id="radio8">
                                <label for="radio8">Femmina</label>
                            </div>
                        </div>
                        <div class="col select-wrapper">
                            <label for="cognomeRapLegale" [ngClass]="{'color-invalid': validCognome === false}" [ngClass]="{'active': !!cognome}">
                                Cognome*
                            </label>
                            <input [disabled]="true" type="text" required [(ngModel)]="cognome" (blur)="checkCognome()"
                                 class="data_input" id="cognomeRapLegale" [ngClass]="{'input-invalid': validCognome === false}"/>
                        </div>
                    </div>
                    <div class="row margin-row-top">
                        <div class="col select-wrapper">
                            <label for="nomeRapLegale" [ngClass]="{'active': !!nome}" [ngClass]="{'color-invalid': validNome === false}">
                                Nome*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="nome" (blur)="checkNome()" 
                                class="data_input" id="nomeRapLegale" [ngClass]="{'input-invalid': validNome === false}"/>
                        </div>
                        <div class="col select-wrapper">
                            <label for="dataRapLegale" class="active" [ngClass]="{'color-invalid': validDataNascita === false}">
                                Data di nascita*
                            </label>
                            <input [disabled]="true" type="date" [(ngModel)]="dataNascita" (blur)="checkDataNascita()"
                                 class="data_input" id="dataNascita" name="dataNascita"
                                required="" data-focus-mouse="false" id="dataNascita" [ngClass]="{'input-invalid': validDataNascita === false}"/>
                        </div>
                        <div class="col select-wrapper">
                            <label for="isEsteroNascita">Stato di nascita</label>
                            <select [disabled]="true" type="text" [(ngModel)]="isEsteroNascita" 
                                id="isEsteroNascita" [value]="" class="data_input">
                                <option [value]="'false'">Italia</option>
                                <option [value]="'true'">Estero</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-row-top">
                        <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                            <label for="nomeStatoDiNasc" [ngClass]="{'active': !!statoNascita}" [ngClass]="{'color-invalid': validStatoNascita === false}">
                                Nome stato di nascita*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="statoNascita" (blur)="checkStatoNascita()"
                                 class="data_input" id="nomeStatoDiNasc" [ngClass]="{'input-invalid': validStatoNascita === false}"/>
                        </div>
                        <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                            <label for="comuneNascitaEstero" [ngClass]="{'active': !!comuneNascitaEstero}" [ngClass]="{'color-invalid': validComuneNascitaEstero === false}">
                                Luogo di nascita*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="comuneNascitaEstero" (blur)="checkComuneNascitaEstero()"
                                 class="data_input" id="comuneNascitaEstero" [ngClass]="{'input-invalid': validComuneNascitaEstero === false}"/>
                        </div>
                        <div class="col select-wrapper" *ngIf="isEsteroNascita === 'false'">
                            <label for="comune" class="active" [ngClass]="{'color-invalid': validComuneSceltoNascita === false}">Luogo di nascita*</label>
                            <input [disabled]="true" aria-expanded="false" [(ngModel)]="comuneSceltoNascita"
                                (blur)="checkComuneSceltoNascita()" 
                                (input)="loadComuneNascita($event)" class="data_input" autocomplete="off" id="comune"
                                type="text" [placeholder]="'Selezionare un comune'" [ngClass]="{'input-invalid': validComuneSceltoNascita === false}">

                            <ul *ngIf="showListComuneNascita"
                                class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--inline select-liste-ul"
                                id="comuneNascitaAutocompleteListbox" role="listbox">
                                <li aria-selected="false" class="autocomplete__option" role="option" tabindex="-1"
                                    aria-posinset="1" aria-setsize="32" *ngFor="let comune of comuniNascita"
                                    (click)="selectComuneNascita(comune.idCodComune, comune.nomeComune + ' (' + comune.regioneProvince.siglaProvincia + ')')">
                                    {{comune.nomeComune + " (" + comune.regioneProvince.siglaProvincia + ")"}}
                                </li>
                            </ul>
                        </div>
                        <div class="col select-wrapper">
                            <label for="codFiscaleRapLegale" [ngClass]="{'active': !!codiceFiscaleSS}" [ngClass]="{'color-invalid': validCodiceFiscale === false}">
                                Codice fiscale*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="codiceFiscaleSS" (blur)="checkCodiceFiscale()"
                                 class="data_input" id="codFiscaleRapLegale" [ngClass]="{'input-invalid': validCodiceFiscale === false}"/>
                            <span style="color:#C0284D" *ngIf="validCodiceFiscale === false">Il codice fiscale non è valido </span>
                        </div>
                        <div class="col select-wrapper" *ngIf="isEsteroNascita === 'false'">
                            <label for="cittaRapSoc" [ngClass]="{'active': !!cittadinanza}" [ngClass]="{'color-invalid': validCittadinanza === false}">
                                Cittadinanza*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="cittadinanza" (blur)="checkCittadinanza()"
                                 class="data_input" id="cittaRapSoc" [ngClass]="{'input-invalid': validCittadinanza === false}"/>
                        </div>
                    </div>
                    <div class="row margin-row-top">
                        <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                            <label for="cittaRapSoc" [ngClass]="{'active': !!cittadinanza}" [ngClass]="{'color-invalid': validCittadinanza === false}">
                                Cittadinanza*
                            </label>
                            <input [disabled]="true" type="text" [(ngModel)]="cittadinanza" (blur)="checkCittadinanza()"
                                 class="data_input" id="cittaRapSoc" [ngClass]="{'input-invalid': validCittadinanza === false}"/>
                        </div>
                        <div class="col select-wrapper">
                            <label for="poTipoRappOdm" [ngClass]="{'color-invalid': validRapporto === false}">Rapporto giuridico ed economico con l'ente*</label>
                            <select [disabled]="true" type="text" [(ngModel)]="poTipoRappOdm" (change)="checkRapporto()"
                                 id="poTipoRappOdm" class="data_input" [ngClass]="{'input-invalid': validRapporto === false}">
                                <option [value]="''"></option>
                                <option [value]="'A tempo indeterminato'">A tempo indeterminato</option>
                                <option [value]="'Part-time a tempo indeterminato'">Part-time a tempo indeterminato
                                </option>
                            </select>
                        </div>
                        <div class="col select-wrapper">
                            <label for="poDataAssunzione" class="active" [ngClass]="{'color-invalid': validDataAssunzione === false}">
                                Data di assunzione
                            </label>
                            <input [disabled]="true" type="date" [(ngModel)]="poDataAssunzione" (blur)="checkDataAssunzione()"
                                 class="data_input" id="poDataAssunzione"
                                name="poDataAssunzione" required="" data-focus-mouse="false" id="poDataAssunzione" [ngClass]="{'input-invalid': validDataAssunzione === false}"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="annullazione()"
                    [ngClass]="{'btn float-end btn-menu-page-body btn-outline-primary-min': true}"
                    >Annulla
            </button>
            <button id="closeModal" hidden type="button" data-bs-dismiss="modal">Close modal</button>
                    <button class="btn btn-primary-min float-end btn-menu-page-body" data-bs-dismiss="modal"
                    type="button">Chiudi
            </button>
            <button id="closeModal" hidden type="button" data-bs-dismiss="modal">Close modal</button>
                    <button type="button" (click)="validazione()"
                            [ngClass]="{'btn btn-secondary-min float-end btn-menu-page-body': true}"
                            >Convalida
                    </button>


                </div>
            </div>