stages: 
  - build
  - deploy

build-job:       
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "sviluppo"'
  script:
    - whoami
    - sudo chmod 755 mvnw
    - sudo ./mvnw package -DskipTests

deploy-job:     
  stage: deploy  
  variables:
    GIT_STRATEGY: none
  rules:
    - if: '$CI_COMMIT_REF_NAME == "sviluppo"'
  script:
    - rm -rf /home/ubuntu/root/backup/giustizia-riparativa-be && cp -r /home/ubuntu/root/latest/giustizia-riparativa-be /home/ubuntu/root/backup/giustizia-riparativa-be
    - cp target/backoffice-0.0.1-SNAPSHOT.jar /home/ubuntu/root/latest/giustizia-riparativa-be/app.jar
