<!-- Button trigger modal -->
<button type="button" hidden id="activeModalSchedaAnagraficaRiepilogo" class="btn btn-primary " data-bs-toggle="modal"
    data-bs-target="#modalSchedaAnagraficaRiepilogo"></button>

<div class="modal fade bd-example-modal-xl" id="modalSchedaAnagraficaRiepilogo" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-insert-voto-estero">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <h4 class="modal-title">Riepilogo Scheda</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Chiudi finestra modale"></button>
            </div>
            <div class="modal-body modal-body-update">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="fw-semibold">Qualifica</p>
                            <div *ngIf="updateAnagraficaRapLegale" class=" form-check ">
                                <input [disabled]="true" name="radio1" checked type="radio" class="with-gap"
                                    id="radio1">
                                <label for="radio1">Rappresentante</label>
                                <input [disabled]="true" name="radio2" checked type="radio" class="with-gap"
                                    id="radio2">
                                <label for="radio2">Responsabile</label>
                            </div>
                            <div *ngIf="updateAnagraficaRapLegale === false" class=" form-check ">
                                <input [disabled]="true" name="radio1" [(ngModel)]="idQualifica" [value]="'1'"
                                    type="radio" class="with-gap" id="radio1">
                                <label for="radio1">Rappresentante</label>
                                <input [disabled]="true" name="radio2" [(ngModel)]="idQualifica" [value]="'2'"
                                    type="radio" class="with-gap" id="radio2">
                                <label for="radio2">Responsabile</label>
                            </div>
                        </div>
                        <div class="col select-wrapper">
                            <label for="titoloSS" class="mt-4">Titolo</label>
                            <select type="text" [(ngModel)]="idTitolo" [disabled]="true" id="titoloSS"
                                class="data_input mt-4">
                                <option [value]=""></option>
                                <option *ngFor="let titolo of titoliAnagrafiche" [value]="titolo.idTitoloAnagrafiche">
                                    {{ titolo.descrizione }}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="div-p-intest-radio">
                                <p class="fw-semibold">Sesso</p>
                            </div>
                            <div class="form-check ">
                                <input name="radio3" [checked]="sesso === 'M'" [value]="'M'" [disabled]="true"
                                    type="radio" class="with-gap" id="radio3">
                                <label for="radio3">Maschio</label>
                                <input name="radio4" [checked]="sesso === 'F'" [value]="'F'" [disabled]="true"
                                    type="radio" class="with-gap" id="radio4">
                                <label for="radio4">Femmina</label>
                            </div>
                        </div>
                        <div class="row margin-row-top">
                            <div class="col select-wrapper">
                                <label for="cognomeRapLegale" [ngClass]="{'active': !!cognome}">
                                    Cognome
                                </label>
                                <input [disabled]="true" type="text" required [(ngModel)]="cognome" class="data_input"
                                    id="cognomeRapLegale" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="nomeRapLegale" [ngClass]="{'active': !!nome}">
                                    Nome
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="nome" class="data_input"
                                    id="nomeRapLegale" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="dataRapLegale" class="active">
                                    Data di nascita
                                </label>
                                <input [disabled]="true" type="date" [(ngModel)]="dataNascita" class="data_input"
                                    id="dataNascita" name="dataNascita" required="" data-focus-mouse="false"
                                    id="dataNascita" />
                            </div>
                        </div>
                        <div class="row margin-row-top">
                            <div class="col select-wrapper">
                                <label for="isEsteroNascita">Stato di nascita</label>
                                <select [disabled]="true" type="text" [(ngModel)]="isEsteroNascita" id="isEsteroNascita"
                                    [value]="" class="data_input">
                                    <option [value]="'false'">Italia</option>
                                    <option [value]="'true'">Estero</option>
                                </select>
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'false'">
                                <label for="comune" class="active">Luogo di nascita</label>
                                <input [disabled]="true" aria-expanded="false" [(ngModel)]="comuneSceltoNascita"
                                    (input)="loadComuneNascita($event)" class="data_input" autocomplete="off"
                                    id="comune" type="text" [placeholder]="'Selezionare un comune'">

                                <ul *ngIf="showListComuneNascita"
                                    class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--inline select-liste-ul"
                                    id="comuneNascitaAutocompleteListbox" role="listbox">
                                    <li aria-selected="false" class="autocomplete__option" role="option" tabindex="-1"
                                        aria-posinset="1" aria-setsize="32" *ngFor="let comune of comuniNascita"
                                        (click)="selectComuneNascita(comune.idCodComune, comune.nomeComune + ' (' + comune.regioneProvince.siglaProvincia + ')')">
                                        {{comune.nomeComune + " (" + comune.regioneProvince.siglaProvincia + ")"}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'false'">
                                <label for="codFiscaleRapLegale" [ngClass]="{'active': !!codiceFiscaleSS}">
                                    Codice fiscale
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="codiceFiscaleSS" class="data_input"
                                    id="codFiscaleRapLegale" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                                <label for="nomeStatoDiNasc" [ngClass]="{'active': !!statoNascita}">
                                    Nome stato di nascita
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="statoNascita" class="data_input"
                                    id="nomeStatoDiNasc" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                                <label for="comuneNascitaEstero" [ngClass]="{'active': !!comuneNascitaEstero}">
                                    Luogo di nascita
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="comuneNascitaEstero"
                                    class="data_input" id="comuneNascitaEstero" />
                            </div>
                        </div>
                        <div class="row margin-row-top">
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'true'">
                                <label for="codFiscaleRapLegale" [ngClass]="{'active': !!codiceFiscaleSS}">
                                    Codice fiscale
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="codiceFiscaleSS" class="data_input"
                                    id="codFiscaleRapLegale" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="cittaRapSoc" [ngClass]="{'active': !!cittadinanza}">
                                    Cittadinanza
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="cittadinanza" class="data_input"
                                    id="cittaRapSoc" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="pecRapLegale" [ngClass]="{'active': !!indirizzoPec}">
                                    Indirizzo PEC
                                </label>
                                <input [disabled]="true" type="text" required [(ngModel)]="indirizzoPec"
                                    class="data_input" id="indirizzoPec" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroNascita === 'false'">
                                <label for="mailRapLegale" [ngClass]="{'active': !!indirizzoEmail}">
                                    Altro Indirizzo Email
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="indirizzoEmail" class="data_input"
                                    id="mailRapLegale" />
                            </div>
                        </div>
                        <div class="row margin-row-top" *ngIf="isEsteroNascita === 'true'">
                            <div class="col select-wrapper">
                                <label for="mailRapLegale" [ngClass]="{'active': !!indirizzoEmail}">
                                    Altro Indirizzo Email
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="indirizzoEmail" class="data_input"
                                    id="mailRapLegale" />
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>

                        </div>
                        <div class="row margin-row-top">
                            <p class="fw-semibold p-intesta">Residenza:</p>
                            <hr />
                        </div>
                        <div class="row margin-row-top">
                            <div class="col select-wrapper">
                                <label for="isEsteroResidenza">Stato di Residenza*</label>
                                <select [disabled]="true" type="text" [(ngModel)]="isEsteroResidenza"
                                    id="isEsteroResidenza" class="data_input">
                                    <option [value]="'false'">Italia</option>
                                    <option [value]="'true'">Estero</option>
                                </select>
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'true'">
                                <label for="statoDiResidenza" [ngClass]="{'active': !!statoResidenza}">
                                    Nome Stato di residenza*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="statoResidenza" class="data_input"
                                    id="statoDiResidenza" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'true'">
                                <label for="comuneResidenzaEstero" [ngClass]="{'active': !!comuneResidenzaEstero}">
                                    Luogo di residenza*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="comuneResidenzaEstero"
                                    class="data_input" id="comuneResidenzaEstero" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'false'">
                                <label for="comune" class="active">Comune*</label>
                                <input [disabled]="true" aria-expanded="false" [(ngModel)]="comuneSceltoResidenza"
                                    (input)="loadComuneResidenza($event)" class="data_input" autocomplete="off"
                                    id="comune" type="text" [placeholder]="'Digitare le iniziali di un Comune'">

                                <ul *ngIf="showListComuneResidenza"
                                    class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--inline select-liste-ul"
                                    id="comuneResidenzaAutocompleteListbox" role="listbox">
                                    <li aria-selected="false" class="autocomplete__option" role="option" tabindex="-1"
                                        aria-posinset="1" aria-setsize="32" *ngFor="let comune of comuniResidenza"
                                        (click)="selectComuneResidenza(comune.idCodComune, comune.nomeComune + ' (' + comune.regioneProvince.siglaProvincia + ')')">
                                        {{comune.nomeComune + " (" + comune.regioneProvince.siglaProvincia + ")"}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'false'">
                                <label for="indirizzoResidenza" [ngClass]="{'active': !!indirizzoResidenza}">
                                    Via/Piazza*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="indirizzoResidenza" class="data_input"
                                    id="indirizzoResidenza" />
                            </div>
                        </div>
                        <div class="row margin-row-top">
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'true'">
                                <label for="indirizzoResidenza" [ngClass]="{'active': !!indirizzoResidenza}">
                                    Via/Piazza*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="indirizzoResidenza" class="data_input"
                                    id="indirizzoResidenza" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="numeroCivicoResidenza" [ngClass]="{'active': !!numeroCivicoResidenza}">
                                    Numero civico*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="numeroCivicoResidenza"
                                    class="data_input" id="numeroCivicoResidenza" />
                            </div>
                            <div class="col select-wrapper">
                                <label for="capResidenza" [ngClass]="{'active': !!capResidenza}">
                                    Cap*
                                </label>
                                <input [disabled]="true" type="text" [(ngModel)]="capResidenza" class="data_input"
                                    id="capResidenza" />
                            </div>
                            <div class="col select-wrapper" *ngIf="isEsteroResidenza == 'false'"></div>
                        </div>
                        <div class="row margin-row-top">
                            <div class="form-check">
                                <input id="checkboxDomicilio" type="checkbox" [(ngModel)]="domicilio">
                                <label for="checkboxDomicilio" class="fw-semibold">Domicilio (se diverso dalla
                                    residenza):</label>
                            </div>
                        </div>
                        <div *ngIf="domicilio">
                            <div class="row margin-row-top">
                                <div class="col select-wrapper">
                                    <label for="isEsteroDomicilio">Stato di domicilio</label>
                                    <select type="text" [(ngModel)]="isEsteroDomicilio" [disabled]="true"
                                        id="isEsteroDomicilio" class="data_input">
                                        <option [value]="'false'">Italia</option>
                                        <option [value]="'true'">Estero</option>
                                    </select>
                                </div>
                    
                                <div class="col select-wrapper" *ngIf="isEsteroDomicilio == 'false'">
                                    <label for="comuneDomicilio" class="active">Comune</label>
                                    <input aria-expanded="false" [(ngModel)]="comuneSceltoDomicilio" [disabled]="true"
                                        (input)="loadComuneDomicilio($event)" class="data_input" autocomplete="off" id="comuneDomicilio"
                                        type="text" [placeholder]="'Digitare le iniziali di un Comune'">
                    
                                    <ul *ngIf="showListComuneDomicilio"
                                        class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--inline select-liste-ul"
                                        id="comuneDomicilioAutocompleteListbox" role="listbox">
                                        <li aria-selected="false" class="autocomplete__option" role="option" tabindex="-1" aria-posinset="1"
                                            aria-setsize="32" *ngFor="let comune of comuniDomicilio"
                                            (click)="selectComuneDomicilio(comune.idCodComune, comune.nomeComune + ' (' + comune.regioneProvince.siglaProvincia + ')')">
                                            {{comune.nomeComune + " (" + comune.regioneProvince.siglaProvincia + ")"}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col select-wrapper" *ngIf="isEsteroDomicilio == 'true'">
                                    <label for="comuneDomicilioEstero" [ngClass]="{'active': !!comuneDomicilioEstero}">
                                        Luogo di domicilio
                                    </label>
                                    <input type="text" [(ngModel)]="comuneDomicilioEstero" [disabled]="true"
                                        class="data_input" id="comuneDomicilioEstero" />
                                </div>
                                <div class="col select-wrapper" *ngIf="isEsteroDomicilio == 'true'">
                                    <label for="statoDomicilio" [ngClass]="{'active': !!statoDomicilio}">
                                        Nome Stato di domicilio
                                    </label>
                                    <input type="text" [(ngModel)]="statoDomicilio" class="data_input" [disabled]="true"
                                        id="statoDomicilio" />
                                </div>
                                <div *ngIf="isEsteroDomicilio === 'false'" class="col select-wrapper">
                                    <label for="indirizzoDomicilio" [ngClass]="{'active': !!indirizzoDomicilio}">
                                        Via/Piazza*
                                    </label>
                                    <input type="text" [(ngModel)]="indirizzoDomicilio" class="data_input" [disabled]="true"
                                        id="indirizzoDomicilio"/>
                                </div>
                            </div>
                            
                            <div class="row margin-row-top">
                                <div *ngIf="isEsteroDomicilio === 'true'" class="col select-wrapper">
                                    <label for="indirizzoDomicilio" [ngClass]="{'active': !!indirizzoDomicilio}">
                                        Via/Piazza*
                                    </label>
                                    <input type="text" [(ngModel)]="indirizzoDomicilio" class="data_input" [disabled]="true"
                                        id="indirizzoDomicilio"/>
                                </div>
                                <div class="col select-wrapper">
                                    <label for="numeroDomicilio" [ngClass]="{'active': !!numeroCivicoDomicilio}">
                                        Numero Civico*
                                    </label>
                                    <input type="text" [(ngModel)]="numeroCivicoDomicilio" [disabled]="true"
                                        class="data_input" id="numeroDomicilio"/>
                                </div>
                                <div class="col select-wrapper">
                                    <label for="capDomicilio" [ngClass]="{'active': !!capDomicilio}">
                                        Cap*
                                    </label>
                                    <input type="text" [(ngModel)]="capDomicilio" class="data_input" [disabled]="true"
                                        id="capDomicilio"/>
                                </div>
                                <div class="col select-wrapper" *ngIf="isEsteroDomicilio == 'false'"></div>
                            </div>
                        </div>
                        
                        <hr class="row margin-row-top">
                        <div class="row">
                            <div *ngIf="!!fileDocumento" class="col ">
                                <div class="col">
                                    <a class="read-more a-function" (click)="getFileDocumento()"
                                        data-focus-mouse="false">
                                        <span class="text">Documento d'identità</span>
                                    </a>
                                    <a class="a-icon-table" (click)="getFileDocumento()" data-toggle="tooltip"
                                        title="anteprima di stampa">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                            [ngClass]="{'bg-light icon align-middle svg-icon-table-td': true}"
                                            class="bg-light icon align-middle svg-icon-table-td"
                                            viewBox="0 0 19.5 19.5">
                                            <path
                                                d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="!!fileQualificaMed" class=" col">
                                <div class="col">
                                    <a class="read-more a-function" (click)="getFileQualifica()" data-focus-mouse="false">
                                        <span class="text">Qualifica mediatore</span>
                                    </a>
                                    <a class="a-icon-table" (click)="getFileQualifica()" data-toggle="tooltip"
                                    title="anteprima di stampa">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    [ngClass]="{'bg-light icon align-middle svg-icon-table-td': true}"
                                      class="bg-light icon align-middle svg-icon-table-td" viewBox="0 0 19.5 19.5">
                                      <path
                                        d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z">
                                      </path>
                                      <path fill-rule="evenodd"
                                        d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z">
                                      </path>
                                    </svg>
                
                                  </a>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="modal-footer">
                            <button class="btn float-end btn-menu-page-body btn-outline-primary-min"
                                data-bs-dismiss="modal" type="button">Chiudi</button>
                        </div>
                    </div>
                </div>