<!-- Button trigger modal  -->

<button type="button" hidden id="activeModalMediatore" class="btn btn-primary " data-bs-toggle="modal"
	data-bs-target="#modalInsertMediatori"></button>

<div class="modal fade bd-example-modal-xl" id="modalInsertMediatori" tabindex="-1" role="dialog"
	aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-insert-voto-estero">
		<div class="modal-content shrink">
			<div class="modal-header mb-2">
				<h4 class="modal-title">Dettaglio Mediatore</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Chiudi finestra modale"></button>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col select-wrapper">
							<label for="dataRapLegale" class="active">
								Data di nascita
							</label>
							<input [disabled]="true" type="date" [(ngModel)]="dataNascita"
								class="data_input" id="dataNascita" name="dataNascita"
								data-focus-mouse="false" />
						</div>

						<div *ngIf="idComuneNascita != 0" class="col select-wrapper">
							<label for="comuneSceltoNascita" class="active">
								Comune di nascita
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="comuneSceltoNascita"
								class="data_input" id="comuneSceltoNascita" name="comuneSceltoNascita"
								data-focus-mouse="false" />
						</div>
						<div *ngIf="idComuneNascita === 0" class="col select-wrapper">
							<label for="comuneNascitaEstero" class="active">
								Luogo di nascita
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="comuneNascitaEstero"
								class="data_input" id="comuneNascitaEstero" name="comuneNascitaEstero"
								data-focus-mouse="false" />
						</div>
					</div>
					<div class="row margin-row-top">
						<div *ngIf="idComuneResidenza != 0" class="col select-wrapper">
							<label for="comuneSceltoResidenza" class="active">
								Comune di residenza
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="comuneSceltoResidenza"
							class="data_input" id="comuneSceltoResidenza" name="comuneSceltoResidenza"
							data-focus-mouse="false" />
						</div>
						<div *ngIf="idComuneResidenza === 0" class="col select-wrapper">
							<label for="comuneResidenzaEstero" class="active">
								Luogo di residenza
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="comuneResidenzaEstero"
							class="data_input" id="comuneResidenzaEstero" name="comuneResidenzaEstero"
							data-focus-mouse="false" />
						</div>
						<div class="col select-wrapper">
							<label for="indirizzoEmail" class="active">
								Email
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="indirizzoEmail"
							class="data_input" id="indirizzoEmail" name="indirizzoEmail"
							data-focus-mouse="false"/>
						</div>
					</div>
					<div class="row margin-row-top">

						<div class="col select-wrapper">
							<label for="indirizzoEmail" class="active">
								Pec
							</label>
							<input [disabled]="true" type="text" [(ngModel)]="indirizzoPec"
							class="data_input" id="indirizzoPec" name="indirizzoPec"
							data-focus-mouse="false"/>
						</div>
						<div class="col icon-file-view">
							<button type="button" type="button" title="Carica file pdf"
								class="btn btn-secondary-min btn-sm width:50 height:50" (click)="getFileDocumento()">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
									class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
									<path
										d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z">
									</path>
									<path fill-rule="evenodd"
										d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z">
									</path>
								</svg>
							</button>
							<a class="read-more a-function" (click)="getFileDocumento()" data-focus-mouse="false">
								<span class="text">Documento d'identità</span>
							</a>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer">
					<button class="btn float-end btn-menu-page-body btn-outline-primary-min" data-bs-dismiss="modal" type="button">Chiudi</button>
					<button id="closeModal" hidden type="button" data-bs-dismiss="modal">Close modal</button>
				</div>
			</div>
		</div>
	</div>
</div>
